body {
    padding-bottom: 10px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-bottom: 20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/* DateTimePicker FIX */
.input-group[class*=col-] {
    padding-left: 15px !important;
}

/* SignIn form */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    margin: 0 auto !important;
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

/* Error Template */
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Messages */

.message-list {
    margin-top: 10px;
}

.text-clip {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

/* Button Profile */
.btn-profile-info {
    margin-bottom: 10px;
}